<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>campgrounds</title>
</head>

<body>
    <h1>All campgrounds</h1>
    <h3><a href="campgrounds/new">Add a new Campground</a></h3>
    <ul>
        <% campgrounds.forEach(campground => { %>
            <li><a href="/campgrounds/<%= campground.id %>"><%= campground.title %></a></li>
        <% }); %>
    </ul>
</body>

</html>
