<% layout('layouts/boilerplate') %>

    <div class="row">
        <h1 class="text-center">New Campground</h1>
        <div class="col-6 offset-3">

            <form action="/campgrounds" method="POST" novalidate class="validated-form">
                <div class="mb-3">
                    <label class="form-label" for="title">Campground Name</label>
                    <input class="form-control" type="text" name="title" id="title" placeholder="Campground Name"
                        required>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="price">Price</label>
                    <input class="form-control" type="number" name="price" id="price" placeholder="Price" required>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="description">Description</label>
                    <input class="form-control" type="text" name="description" id="description"
                        placeholder="Description" required>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="location">location</label>
                    <input class="form-control" type="text" name="location" id="location" placeholder="Location"
                        required>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="image">image</label>
                    <input class="form-control" type="text" name="image" id="image" placeholder="image(URL)" required>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                </div>
                <button class="btn btn-success mb-2">submit</button>
            </form>
            <a class="btn btn-danger" href="/campgrounds">Cancel</a>
        </div>
    </div>

